.container {
    margin: 15px 50px;
}

.flex {
    display: flex;
}

.card {
    transition: transform 10ms ease-in;
    padding: 5px;
}

.card:hover {
    z-index: 1111;
    transform: scale(1.01);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pagination {
    display: flex;
    justify-content:flex-end;
    padding-right: 40px;
}